@import "variables";

@mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 8;

    &:after {
      content: '';
      background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 16px);
      display: block;
      width: 100%;
      right: 10px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      border: 2px solid var(--accent);
      padding: 4px;
      background: transparent;
      color: var(--color);
      font-family: inherit;

      &:focus {
        outline: none;
      }
    }

    .search-results {
      position: absolute;
      display: none;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      border: 2px solid var(--accent);
      background: var(--background);
      top: calc(100% + 12px);
      right: 0;
      z-index: 1000;

      &__items {
        padding: 8px;
        margin: 0;
        list-style-type: none;
        
        li {
          a {
            color: var(--accent);
          }

        }

        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .menu {
    margin: 20px 0;

    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        &.active {
          color: var(--accent-alpha-70);
        }

        &:not(:last-of-type) {
          margin-right: 20px;
          margin-bottom: 10px;
          flex: 0 0 auto;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @include menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }
  }

  #random-quote {
    display: none;
    margin: 0;
    margin-top: 20px;
    opacity: .5;
    text-align: justify;
    
    & > #quote-author {
      display: none;

      &:before {
        content: "—";
        padding-right: 8px;
      }
    }
  }
}
