@import "variables";

.posts {
  width: 100%;
  margin: 0 auto;
}

.post {
  position: relative;
  width: 100%;
  text-align: left;
  margin: 20px auto;
  padding: 20px 0;

  @media (max-width: $tablet-max-width) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0;
  }

  %meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--accent-alpha-70);
  }

  &-meta-inline {
    @extend %meta;

    display: inline;
  }

  &-title {
    --border: 2px dashed var(--accent);
    position: relative;
    color: var(--accent);
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: var(--border);
    font-weight: normal;

    a {
      text-decoration: none;
    }
  }

  &-authors-inline, &-comments-inline {
    color: var(--accent);

    span {
        opacity: .5;
        color: var(--color);
    }
  }

  %tags {
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;
  }

  &-tags {
    @extend %tags;
    display: block;
  }

  &-tags-inline {
    @extend %tags;
    color: var(--color);
  }

  &-content {
    margin-top: 30px;
    text-align: justify;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (max-width: $phone-max-width) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    li:before {
      content: '►';
      position: absolute;
      left: -20px;
      color: var(--accent);
    }
  }

  .toc-container {
    position: sticky;
    top: 0;

    @media (max-width: 1400px) {
      position: relative;
      width: 100%;
    }

    .toc {
      --toc-width: 15vw;
      position: absolute;
      right: calc(-1 * var(--toc-width) - 2rem);
      width: var(--toc-width);
      min-width: 200px;
      max-height: 97vh;
      overflow-y: auto;
      margin-top: 1rem;
      padding: 1rem;
      backdrop-filter: brightness(80%);
      border-top: 4px solid var(--accent);
      border-bottom: 4px solid var(--accent);

      @media (max-width: 1400px) {
        position: relative;
        left: 0;
        width: 100%;
        margin-bottom: 1rem;
        max-height: 40vh;
      }

      .toc-header {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid;
        padding-bottom: 4px;
      }

      .toc-item {
        font-size: 1.15rem;
        margin: 0.4rem 0;
        list-style-position: outside;
      }
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.post-list {
  .post-date {
    color: var(--accent-alpha-70);
    text-decoration: none;
  }

  .post-date-sep {
    opacity: .5;
  }

  a {
    text-decoration: none;
  }

  .post-tag {
    text-decoration: underline;
  }
}

.tag-list {
   a {
     text-decoration: none;
   }
 }

 p[xmlns\:cc] {
   margin-top: 40px;
   color: #999;

   img {
     &:nth-of-type(1) {
       margin-left: 6px !important;
     }

     display: inline-block;
     opacity: 1 !important;
   }
 }
