:root {
  @media (prefers-color-scheme: dark) {
    --accent: rgb(255, 130, 160);
    --accent-alpha-70: rgba(255, 130, 160);
    --accent-alpha-20: rgba(255, 130, 160, .2);

    --background: #101010;
    --color: #f0f0f0;
    --border-color: rgba(255, 240, 224, .125);

    div.logo {
      color: black;
    }

  }

  @media (prefers-color-scheme: light) {
    --accent: rgb(255, 130, 160);
    --accent-alpha-70: rgba(255, 130, 160);
    --accent-alpha-20: rgba(255, 130, 160, .2);

    --background: white;
    --color: #201030;
    --border-color: rgba(0, 0, 16, .125);

    div.logo {
      color: black;
    }
  }

  --scroll-to-top-bg-color: var(--accent);
  --scroll-to-top-arrow-color: #fff;
}
