{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        {{ post_macros::header(page=page, is_localhost=is_localhost) }}
        {{ post_macros::content(page=page, summary=false, show_only_description=false) }}

		{% if config.extra.enable_comments and not is_localhost -%}
            <div class="comments">
                <div class="comments__title">
                    <span class="comments__title-h">Yorumlar</span>
                    <hr />
                </div>
            </div>

			{% if config.extra.graphcomment_id %}
				<div id="graphcomment"></div>
				<script>
					var __semio__params = {
						graphcommentId: "{{ config.extra.graphcomment_id }}",
						behaviour: {
							uuid: "{{ page.title | slugify }}"
						}
					}

					function __semio__onload() {
						__semio__gc_graphlogin(__semio__params)
					}

					(function() {
						var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
						gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
					})();
				</script>
			{% elif config.extra.disqus_shortname %}
				<div id="disqus_thread"></div>
				<script>
					var disqus_config = function () { this.page.url = '{{ current_url | safe }}'; this.page.identifier = '{{ page.title | slugify }}'; }; 
					(function () { var d = document, s = d.createElement("script"); s.src = "https://{{ config.extra.disqus_shortname }}.disqus.com/embed.js"; s.setAttribute("data-timestamp", +new Date()); (d.head || d.body).appendChild(s); })();</script>
				<noscript>Yorumları görebilmek için lütfen tarayıcınızda <b>JavaScript</b>'i aktif ediniz.</noscript>
			{% endif -%}

		{% endif -%}

        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}
